*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:rgba(6, 66, 46, 0.884);
    color: white;
    box-shadow: 1px 1px 1px 1px black;
}

nav >img{
 
   padding:50px ;
 
}

nav >.list >ul 
{
    display: flex;
    list-style: none;
    
}


.list >ul >li{
 padding: 30px;
 font-size: 25px;
}



.list >ul >li >a{
    color: white;
    text-decoration: none;
}

.list >ul >li>a:hover{
    color: black;
    text-decoration: underline;
}


.li >ul >li >a >i:hover{
    color: black;
}




nav >img{
 
   padding:50px ;
 
}



nav >.list >ul >.icon{
    margin-top: 32px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    
}

nav >.icon{
    margin-right:30px;
    font-size: 20px;
    
    
}

nav >.icon{
    display: none;
}


.side-navbar{
    background-color: #1D232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    font-size: 20px;
   
transition: 2s;
}

.side-navbar-links >ul >li {

    margin-bottom: 30px;
    list-style: none;

}

.side-navbar-links >ul >li >a{
    text-decoration: none;
    color: white;
}

.side-navbar-links >ul >li >a:hover{
    text-decoration: underline;
    
}

.join{
    margin-top: 50px;
}

.join >.Letter{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.cont{
    display: flex;
    justify-content: center;
    margin-top: 10px;
   
}
.cont >.kid{
    font-size: 20px;
    color:rgb(134, 134, 134);
 
}

.bid{
    display: flex;
    justify-content: center;
}
.bid >p{
    font-size: 20px;
    margin-top: 8px;
    color:rgb(134, 134, 134);
}

.user {
    display: flex;
    justify-content: center;
 align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.user >.lab{
    margin-right: 720px;
    font-size: 17px;

    font-family: roboto arial;
}
.subject >.sab{
    margin-right: 740px;
    font-size: 17px;
    font-family: roboto arial;

}

.message >.kab{
    margin-right: 700px;
    font-size: 17px;
    font-family: roboto arial;
}

.user >input{
    width: 800px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border: 1px solid gray;
    border-radius: 8px;
}


.subject {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.subject >label{
    margin-right: 750px;
    margin-top: 20px;
}

.subject >input{
    width: 800px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border: 1px solid gray;
    border-radius: 8px;
}


.message {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.message >label{
    margin-right: 750px;
    margin-top: 20px;
}

.message >textarea{
    width: 800px;
    padding: 60px;
    background-color: rgb(238, 238, 238);
    border: 1px solid gray;
    border-radius: 8px;
}

.but {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  margin-right: 670px;

}

.but >button{
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(6, 66, 46, 0.884);
    border: none;
    box-shadow: 2px 2px 4px ;
    font-size: 17px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.but >button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}



footer{
    background-color:rgba(6, 66, 46, 0.884) ;
    margin-top: 30px;
    padding: 20px;
    gap: 10px;
}

footer >h1{
    color: white;
    font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  padding: 15px;
}

footer >p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 15px;
}


@media(max-width:700px){


    nav{
        height: 70px;
    }

    nav >.list{
        display: none;
    }

    nav >img{
        padding: 15px;
        width: 180px;
    }


    .user,.subject,.message {
        flex-wrap: wrap;
      
    }

    .user >input{
       width: 400px;
       margin-right: 320px;
       
}
.subject >input{
    width: 400px;
    margin-right: 350px;
    
}
.message >textarea{
    width: 400px;
    margin-right: 320px;
    
}

.user >.lab{
    margin-left: 40px;
    
}

.subject >.sab{
    margin-left: 40px;
}

.message >.kab{
    margin-left: 40px;
}


.but{
    margin-left: 100px;
}

.but >button{
    padding: 8px;
    width: 130px;
}

.cont >.kid{
    padding: 10px;
    font-size: 18px;
    margin-left: 25px;
  
}


.bid >p{
    font-size: 18px;
}

nav >.icon{
    display: block;
}

.icon{
    display: block;
}

}

